
body{
    background-color: #ffffff;
}




.container{
 
        height: 481px;
        width: 700px;
        margin-top: 150px;
        margin-left: 400px;
}
#heading{
    background-color: red;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#heading h3 {
    font-size: 25px;
    color: white;

}

#content{
 /* background-color: #0170BD; */
   
    margin-top: -50px;

    background-color: #1a736e;
    display: flex;
    flex-direction: column;
           
}
.form-group {
    margin: 0 10px;
    flex: 1;
}
.abc{
    padding: 16px;
    font-size: 20px;
    color: white;
}
#btn{
    color: #24e9ffd9;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn button{
    width: 100px;
    height: 30px;
    background-color: red;
    color: white;
}
.result{
    background-color: #1a736e;
    width: 654px;
    height: 123px;
    margin-left: 422px;

}
.table thead th {
    background-color: #f8f9fa;
}
.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
.table tbody tr:hover {
    background-color: #e9ecef;
}